.widget-order-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-stat {
  flex: 1 1 200px;
  margin: 0 10px 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;

  .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

    span {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 20px;
      margin-right: 5px;
      color: #6c5ce7;
    }
  }

  .percentage {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;

    &.increment {
      color: #00b894;
    }

    &.decrement {
      color: #ff7675;
    }

    span {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 12px;
      margin-right: 5px;
    }
  }
}
